.dropdown {
    position: relative;
    display: inline-block;
    width: 300px; 
  }
  
  .dropdown button {
    padding: 10px 15px;
    width: 100%;
    background-color: #f2f2f2; 
    color: #7d7d7d; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
  }
  
  .dropdown button:hover {
    background-color: #e0e0e0; 
  }
  
  .dropdown button.selected {
    color: #333; 
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin-top: 5px;
    z-index: 1000;
  }
  
.dropdown-list li {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    transition: background 0.2s ease;
  }
  
  .dropdown-list li:hover {
    background-color: #f0f0f0; 
  }
  
  .dropdown-list li.selected {
    background-color: #007bff;
    color: white; 
  }

 
  .chevron {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    width: 16px; /* Adjust according to your SVG size */
    height: 16px; /* Adjust according to your SVG size */
}

/* Rotate the chevron when the dropdown is open */
.chevron.rotate {
    transform: translateY(-50%) rotate(180deg); /* Rotate by 180 degrees for a downward direction */
}